@using ViewComponentSample.Model

@model List<News>

@*<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Tittle</td>
            <td>@item.Description</td>
        </tr>
    }
</table>
*@
<h1>With Name</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-action="Detail" asp-route-id="@item.Id">
                @item.Tittle
            </a>
            <p>
                @item.Description
            </p>
        </li>
    }
</ul>

